<launch>
	<node pkg="tf" type="static_transform_publisher" name="lidar_base_broadcaster" args="0.308 0.0 0.0 0.0 0.0 0.0 sara_lidar sara_base 10" />
	<!--node pkg="tf" type="static_transform_publisher" name="imu_base_broadcaster" args="0.225 0.102 0.0 0.0 0.0 0.0 sara_base sara_imu 10" /-->
</launch>
